 
 

<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
     <head th:insert="fragments/header :: headHeader">

  
    <title>Hello, world!</title>
     
  </head> 
  
  <body class="outerdiv">
<!--    
    <div th:insert="fragments/header :: header">

</div> -->
<form action="#" 	th:action="@{/login}" method="post">
  
	
 	<div class="container p-5"> 
 	
 	<h2>	Login</h2>
 	<div  th:if="${param.logout}" class="alert alert-success">
	You have been logged out from the session
	</div>
	
	<div  th:if="${param.error}" class="alert alert-danger">
	Invalid username or Password
	</div>

	
	
<!--  	<div class="alert alert" style="max-width:40%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat.</div>
-->	
	<div class="innerdiv border-white border-left shadow-lg mb-5 bg-white p-5 rounded"> 
 
 	 
	
		<div class="form-group">
    <label  for="fullname" >Username:</label>
     <input required type="text" name="username" autofocus 	  class="form-control form-control-sm"  placeholder="Username" >
   </div>
 
   <div class="form-group">
   <label for="password">Password: </label>
   <input required class="form-control form-control-sm" type="Password" placeholder="password"  name="password">
          	  <br>
   
    <input type="submit"  value="Login"  class="btn btn-warning"/>
   </div>
    			
 <a href="sign-up" > Sign up</a>
       	 </div>
       	
       	 	 </div>
	</form>  
   </body>
</html>